**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints/**
**/data/**
**/images/**
**/tmp/**
**/tmp2/**

**/*.pkl
**/*.model

*.pkl
*.npy
*.pkl.gz

# Vens
**/venv*
.venv

**/model
**/models
**/your-model

**-summary-**/